@use "./variables" as *;

header {
    margin: 0;
}

.who-we-are {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 10px 0px 10px; //to reduce the space between 1st section and button
}

.what-we-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: $color-footer;
    text-align: center;
    padding: 10px;
}


@media screen and (min-width: 768px) { /* setting media as mobile*/
    main {
    width: 300px;
    }
    }