@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap'); /*importing 2 fonts roboto and dancing from google fonts for use on the web page/site */

/*creating variables which can be used references and then used throughout */
$font-body: "Roboto" , "sans-serif" ;
$color-primary: #28527a;
$color-primary-light: #1296b8;
$color-black: #333333;
$color-white: #fafafa;
$color-footer: #e2fb7d;
$color-button-hover:rgb(237, 157, 9);