/*linking to the modules */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap"); /*importing 2 fonts roboto and dancing from google fonts for use on the web page/site */
/*creating variables which can be used references and then used throughout */
/*linking to the modules */
nav {
  height: 60px;
  background-color: #fafafa;
  padding: 10px;
  margin: 20px 0; /* Top and bottom margins of 20px, left and right margins of 0 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  max-width: 200px;
  max-height: auto;
}

button {
  display: block;
  background-color: #fafafa;
  text-align: center;
  font-size: large;
  font-weight: bold;
  border-color: #28527a;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer; /* Set default cursor style to pointer */
}

.who-we-are h1 {
  color: #1296b8;
  font-size: x-large;
  padding: 10px;
}
.who-we-are img {
  padding: 10px;
}
.who-we-are h2 {
  font-size: large;
  padding: 10px;
}
.who-we-are h3 {
  color: #1296b8;
  font-size: medium;
  padding: 10px;
}
.who-we-are h4 {
  font-size: small;
  padding: 10px 10px 0px 10px;
}

.what-we-do .button-blue {
  background-color: #28527a;
  color: #fafafa;
  width: 200px;
  padding: 10px;
  margin: 30px;
}
.what-we-do .button-blue:hover { /* using & to apply hover to the blue button */
  background-color: rgb(237, 157, 9); /* Change color to orange on hover */
}
.what-we-do h5 {
  font-size: large;
  padding: 10px;
}
.what-we-do .what-you-can-find-item-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.what-we-do .what-you-can-find-item-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.what-we-do .what-you-can-find-item-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.what-we-do .what-you-can-find-item-4 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.what-we-do .bold-text {
  font-weight: bold;
}
.what-we-do .italic-text {
  font-style: italic;
}

footer a {
  text-decoration: none; /* Remove underline */
  background-color: #e2fb7d;
  padding: 5px;
}

a:hover {
  color: #fafafa; /*change list items to white on hover*/
}

/*linking to the modules */
header {
  margin: 0;
}

.who-we-are {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 10px 0px 10px;
}

.what-we-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #e2fb7d;
  text-align: center;
  padding: 10px;
}

@media screen and (min-width: 768px) { /* setting media as mobile*/
  main {
    width: 300px;
  }
}
/*applying styling to the whole sheet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  color: #28527a;
  background-color: #fafafa;
}/*# sourceMappingURL=main.css.map */